.tbl {table-layout: fixed; margin-left: auto; margin-right: auto; width: 30%; border: solid 2px #000000; background-color: #EDEDED;}
.tbl th {

    padding: 0.4em;
    text-align: center;
    /*border: solid 2px #000000;*/
    height: 28px;
}
.tbl tr {height: 25px; font-size: 1em;}
/*.tbl tr {border: solid 2px #000000; height: 35px; font-size: 1em;}*/
/*.tbl td {height: 4.8vh; padding-left: 0.6%; font-size: 1em;}*/